@page "/"
@using System.Security.Claims

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>@context.User.Identity!.Name, Welcome</h3>
        @if (context.User.Identity is ClaimsIdentity claimsIdentity)
        {
            <p>Merchant Id: @claimsIdentity.FindFirst(ClaimTypes.NameIdentifier)?.Value</p>
            <p>Email: @claimsIdentity.FindFirst(ClaimTypes.Email)?.Value</p>
        }
    </Authorized>
    <NotAuthorized>
        <h3>You are not logged in</h3>
    </NotAuthorized>
</AuthorizeView>
