body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}

.card {
    border-radius: 8px;
}

.btn-outline-dark {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn-outline-dark i {
        margin-right: 8px;
    }
