@page "/register"
@layout EmptyLayout

@inject IAuthServiceWebUI auth
@inject NavigationManager NavMan

<div class="container-fluid">
    <div class="row min-vh-100 d-flex align-items-center justify-content-center">
        <div class="col-lg-6 d-none d-lg-flex flex-column justify-content-center">
            <div class="text-center">
                <img src="images/illustration.png" alt="Illustration" class="img-fluid">
                <h1 class="mt-4">Fast, Efficient and Productive</h1>
                <p class="text-muted">In this kind of post, the <a href="#">blogger</a> introduces a person they've interviewed and provides some background information about the <a href="#">interviewee</a> and their work following this is a transcript of the interview.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <EditForm Model="@registerModel" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="mb-3">
                            <InputText type="text" class="form-control form-control-lg" placeholder="Company" @bind-Value="registerModel.Company" />
                        </div>
                        <div class="mb-3">
                            <InputText type="text" class="form-control form-control-lg" placeholder="Name" @bind-Value="registerModel.Name" />
                        </div>
                        <div class="mb-3">
                            <InputText type="text" class="form-control form-control-lg" placeholder="Surname" @bind-Value="registerModel.Surname" />
                        </div>
                        <div class="mb-3">
                            <InputText class="form-control form-control-lg" placeholder="Email" @bind-Value="registerModel.Email" />
                        </div>
                        <div class="mb-3">
                            <InputText type="password" class="form-control form-control-lg" placeholder="Password" @bind-Value="registerModel.Password" />
                            <small class="form-text text-muted">Use 8 or more characters with a mix of letters, numbers & symbols.</small>
                        </div>
                        <div class="mb-3">
                            <InputText type="password" class="form-control form-control-lg" placeholder="Repeat Password" @bind-Value="registerModel.ConfirmPassword" />
                        </div>
                        <div class="mb-3">
                            <InputText type="phone" class="form-control form-control-lg" placeholder="Phone" @bind-Value="registerModel.Phone" />
                        </div>
                        <div class="mb-3">
                            <InputText type="text" class="form-control form-control-lg" placeholder="Citizen Number" @bind-Value="registerModel.CitizenNo" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg w-100">Sign Up</button>
                    </EditForm>
                    <div class="mt-3 text-center">
                        <span>Already have an Account? <a href="/login">Sign in</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private RegisterRequestDto registerModel = new RegisterRequestDto();

    private async void HandleValidSubmit()
    {
        var response = await auth.Register(registerModel);
        if (response.Result)
        {
            NavMan.NavigateTo("/login");
        }
        else
        {
            
        }
    }
}